.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;
  position: relative;
}

#bulbasaur {
  top: 1px;
}

#charmander {
  top: 20px;
}

#squirtle {
  top: 85px;
}

#pikachu {
  top: 155px;
}

#jigglypuff {
  top: 290px;
}
